@import "variables";

@font-face {
    font-family: 'iconfont';
    src:    url('#{$icomoon-font-path}/iconfont.eot?dls9ze');
    src:    url('#{$icomoon-font-path}/iconfont.eot?dls9ze#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/iconfont.ttf?dls9ze') format('truetype'),
        url('#{$icomoon-font-path}/iconfont.woff?dls9ze') format('woff'),
        url('#{$icomoon-font-path}/iconfont.svg?dls9ze#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flash {
    &:before {
        content: $icon-flash;
    }
}
.icon-sel {
    &:before {
        content: $icon-sel;
    }
}
.icon-add {
    &:before {
        content: $icon-add;
    }
}
.icon-minus {
    &:before {
        content: $icon-minus;
    }
}
.icon-refine {
    &:before {
        content: $icon-refine;
    }
}
.icon-up {
    &:before {
        content: $icon-up;
    }
}
.icon-down {
    &:before {
        content: $icon-down;
    }
}
.icon-minwifi {
    &:before {
        content: $icon-minwifi;
    }
}
.icon-waitreceive {
    &:before {
        content: $icon-waitreceive;
    }
}
.icon-waitpick {
    &:before {
        content: $icon-waitpick;
    }
}
.icon-waitpay {
    &:before {
        content: $icon-waitpay;
    }
}
.icon-waitassess {
    &:before {
        content: $icon-waitassess;
    }
}
.icon-newsecondcode {
    &:before {
        content: $icon-newsecondcode;
    }
}
.icon-information {
    &:before {
        content: $icon-information;
    }
}
.icon-minfulltip {
    &:before {
        content: $icon-minfulltip;
    }
}
.icon-mintip {
    &:before {
        content: $icon-mintip;
    }
}
.icon-fav {
    &:before {
        content: $icon-fav;
    }
}
.icon-vipservice {
    &:before {
        content: $icon-vipservice;
    }
}
.icon-vipline {
    &:before {
        content: $icon-vipline;
    }
}
.icon-vipdate {
    &:before {
        content: $icon-vipdate;
    }
}
.icon-vipcoffee {
    &:before {
        content: $icon-vipcoffee;
    }
}
.icon-quickpay {
    &:before {
        content: $icon-quickpay;
    }
}
.icon-owndis {
    &:before {
        content: $icon-owndis;
    }
}
.icon-norainanxiety {
    &:before {
        content: $icon-norainanxiety;
    }
}
.icon-newexp {
    &:before {
        content: $icon-newexp;
    }
}
.icon-intershare {
    &:before {
        content: $icon-intershare;
    }
}
.icon-freetrans {
    &:before {
        content: $icon-freetrans;
    }
}
.icon-freepark {
    &:before {
        content: $icon-freepark;
    }
}
.icon-birthdaypre {
    &:before {
        content: $icon-birthdaypre;
    }
}
.icon-rmb {
    &:before {
        content: $icon-rmb;
    }
}
.icon-cargo {
    &:before {
        content: $icon-cargo;
    }
}
.icon-deliver {
    &:before {
        content: $icon-deliver;
    }
}
.icon-comment {
    &:before {
        content: $icon-comment;
    }
}
.icon-refund {
    &:before {
        content: $icon-refund;
    }
}
.icon-messge {
    &:before {
        content: $icon-messge;
    }
}
.icon-scan {
    &:before {
        content: $icon-scan;
    }
}
.icon-flow {
    &:before {
        content: $icon-flow;
    }
}
.icon-list {
    &:before {
        content: $icon-list;
    }
}
.icon-shipit {
    &:before {
        content: $icon-shipit;
    }
}
.icon-pickup {
    &:before {
        content: $icon-pickup;
    }
}
.icon-setting {
    &:before {
        content: $icon-setting;
    }
}
.icon-logout {
    &:before {
        content: $icon-logout;
    }
}
.icon-label {
    &:before {
        content: $icon-label;
    }
}
.icon-idea {
    &:before {
        content: $icon-idea;
    }
}
.icon-warn {
    &:before {
        content: $icon-warn;
    }
}
.icon-close {
    &:before {
        content: $icon-close;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-minabout {
    &:before {
        content: $icon-minabout;
    }
}
.icon-mincard {
    &:before {
        content: $icon-mincard;
    }
}
.icon-mincode {
    &:before {
        content: $icon-mincode;
    }
}
.icon-minfav {
    &:before {
        content: $icon-minfav;
    }
}
.icon-minhelp {
    &:before {
        content: $icon-minhelp;
    }
}
.icon-minindex {
    &:before {
        content: $icon-minindex;
    }
}
.icon-minorder {
    &:before {
        content: $icon-minorder;
    }
}
.icon-minscore {
    &:before {
        content: $icon-minscore;
    }
}
.icon-mintag {
    &:before {
        content: $icon-mintag;
    }
}
.icon-minticket {
    &:before {
        content: $icon-minticket;
    }
}
.icon-mintime {
    &:before {
        content: $icon-mintime;
    }
}
.icon-minvip {
    &:before {
        content: $icon-minvip;
    }
}
.icon-mingood {
    &:before {
        content: $icon-mingood;
    }
}
.icon-minbad {
    &:before {
        content: $icon-minbad;
    }
}
.icon-minelectric {
    &:before {
        content: $icon-minelectric;
    }
}
.icon-minfire {
    &:before {
        content: $icon-minfire;
    }
}
.icon-minfood {
    &:before {
        content: $icon-minfood;
    }
}
.icon-miniphone {
    &:before {
        content: $icon-miniphone;
    }
}
.icon-minmovie {
    &:before {
        content: $icon-minmovie;
    }
}
.icon-minshark {
    &:before {
        content: $icon-minshark;
    }
}
.icon-mintopup {
    &:before {
        content: $icon-mintopup;
    }
}
.icon-minwater {
    &:before {
        content: $icon-minwater;
    }
}
.icon-enter {
    &:before {
        content: $icon-enter;
    }
}
.icon-fullstar {
    &:before {
        content: $icon-fullstar;
    }
}
.icon-star {
    &:before {
        content: $icon-star;
    }
}
.icon-gps {
    &:before {
        content: $icon-gps;
    }
}
.icon-select {
    &:before {
        content: $icon-select;
    }
}
.icon-selected {
    &:before {
        content: $icon-selected;
    }
}
.icon-top {
    &:before {
        content: $icon-top;
    }
}
.icon-enterinto {
    &:before {
        content: $icon-enterinto;
    }
}
.icon-username {
    &:before {
        content: $icon-username;
    }
}
.icon-password {
    &:before {
        content: $icon-password;
    }
}
.icon-follow {
    &:before {
        content: $icon-follow;
    }
}
.icon-email {
    &:before {
        content: $icon-email;
    }
}
.icon-address {
    &:before {
        content: $icon-address;
    }
}
.icon-moreapp {
    &:before {
        content: $icon-moreapp;
    }
}
.icon-pay {
    &:before {
        content: $icon-pay;
    }
}
.icon-allorder {
    &:before {
        content: $icon-allorder;
    }
}
.icon-minchest {
    &:before {
        content: $icon-minchest;
    }
}
.icon-minscore2 {
    &:before {
        content: $icon-minscore2;
    }
}
.icon-minstore {
    &:before {
        content: $icon-minstore;
    }
}
.icon-minbasket {
    &:before {
        content: $icon-minbasket;
    }
}
.icon-minwallet {
    &:before {
        content: $icon-minwallet;
    }
}
.icon-more {
    &:before {
        content: $icon-more;
    }
}
.icon-heart {
    &:before {
        content: $icon-heart;
    }
}
.icon-fullheart {
    &:before {
        content: $icon-fullheart;
    }
}
.icon-date {
    &:before {
        content: $icon-date;
    }
}
.icon-edit {
    &:before {
        content: $icon-edit;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}
.icon-mingroup {
    &:before {
        content: $icon-mingroup;
    }
}
.icon-minonsale {
    &:before {
        content: $icon-minonsale;
    }
}
.icon-minsales {
    &:before {
        content: $icon-minsales;
    }
}
.icon-minqueuing {
    &:before {
        content: $icon-minqueuing;
    }
}
.icon-minbook {
    &:before {
        content: $icon-minbook;
    }
}
.icon-minboxrice {
    &:before {
        content: $icon-minboxrice;
    }
}
.icon-minstop {
    &:before {
        content: $icon-minstop;
    }
}
.icon-mininfo {
    &:before {
        content: $icon-mininfo;
    }
}
.icon-mintelep {
    &:before {
        content: $icon-mintelep;
    }
}
.icon-minaddre {
    &:before {
        content: $icon-minaddre;
    }
}
.icon-minnav {
    &:before {
        content: $icon-minnav;
    }
}
.icon-minchat {
    &:before {
        content: $icon-minchat;
    }
}
.icon-else {
    &:before {
        content: $icon-else;
    }
}
.icon-minforum {
    &:before {
        content: $icon-minforum;
    }
}
.icon-index {
    &:before {
        content: $icon-index;
    }
}
.icon-indexed {
    &:before {
        content: $icon-indexed;
    }
}
.icon-sort {
    &:before {
        content: $icon-sort;
    }
}
.icon-sorted {
    &:before {
        content: $icon-sorted;
    }
}
.icon-find {
    &:before {
        content: $icon-find;
    }
}
.icon-finded {
    &:before {
        content: $icon-finded;
    }
}
.icon-carted {
    &:before {
        content: $icon-carted;
    }
}
.icon-user {
    &:before {
        content: $icon-user;
    }
}
.icon-usered {
    &:before {
        content: $icon-usered;
    }
}
.icon-back {
    &:before {
        content: $icon-back;
    }
}
.icon-cart {
    &:before {
        content: $icon-cart;
    }
}

