$icomoon-font-path: "fonts" !default;

$icon-flash: "\e900";
$icon-sel: "\e901";
$icon-add: "\e902";
$icon-minus: "\e903";
$icon-refine: "\e904";
$icon-up: "\e905";
$icon-down: "\e906";
$icon-minwifi: "\e907";
$icon-waitreceive: "\e973";
$icon-waitpick: "\e974";
$icon-waitpay: "\e975";
$icon-waitassess: "\e976";
$icon-newsecondcode: "\e977";
$icon-information: "\e978";
$icon-minfulltip: "\e964";
$icon-mintip: "\e965";
$icon-fav: "\e966";
$icon-vipservice: "\e967";
$icon-vipline: "\e968";
$icon-vipdate: "\e969";
$icon-vipcoffee: "\e96a";
$icon-quickpay: "\e96b";
$icon-owndis: "\e96c";
$icon-norainanxiety: "\e96d";
$icon-newexp: "\e96e";
$icon-intershare: "\e96f";
$icon-freetrans: "\e970";
$icon-freepark: "\e971";
$icon-birthdaypre: "\e972";
$icon-rmb: "\e908";
$icon-cargo: "\e909";
$icon-deliver: "\e90a";
$icon-comment: "\e90b";
$icon-refund: "\e90c";
$icon-messge: "\e90d";
$icon-scan: "\e90e";
$icon-flow: "\e90f";
$icon-list: "\e910";
$icon-shipit: "\e911";
$icon-pickup: "\e912";
$icon-setting: "\e913";
$icon-logout: "\e914";
$icon-label: "\e915";
$icon-idea: "\e916";
$icon-warn: "\e917";
$icon-close: "\e918";
$icon-search: "\e919";
$icon-minabout: "\e91a";
$icon-mincard: "\e91b";
$icon-mincode: "\e91c";
$icon-minfav: "\e91d";
$icon-minhelp: "\e91e";
$icon-minindex: "\e91f";
$icon-minorder: "\e920";
$icon-minscore: "\e921";
$icon-mintag: "\e922";
$icon-minticket: "\e923";
$icon-mintime: "\e924";
$icon-minvip: "\e925";
$icon-mingood: "\e926";
$icon-minbad: "\e927";
$icon-minelectric: "\e928";
$icon-minfire: "\e929";
$icon-minfood: "\e92a";
$icon-miniphone: "\e92b";
$icon-minmovie: "\e92c";
$icon-minshark: "\e92d";
$icon-mintopup: "\e92e";
$icon-minwater: "\e92f";
$icon-enter: "\e930";
$icon-fullstar: "\e931";
$icon-star: "\e932";
$icon-gps: "\e933";
$icon-select: "\e934";
$icon-selected: "\e935";
$icon-top: "\e936";
$icon-enterinto: "\e937";
$icon-username: "\e938";
$icon-password: "\e939";
$icon-follow: "\e93a";
$icon-email: "\e93b";
$icon-address: "\e93c";
$icon-moreapp: "\e93d";
$icon-pay: "\e93e";
$icon-allorder: "\e93f";
$icon-minchest: "\e940";
$icon-minscore2: "\e941";
$icon-minstore: "\e942";
$icon-minbasket: "\e943";
$icon-minwallet: "\e944";
$icon-more: "\e945";
$icon-heart: "\e946";
$icon-fullheart: "\e947";
$icon-date: "\e948";
$icon-edit: "\e949";
$icon-share: "\e94a";
$icon-mingroup: "\e94b";
$icon-minonsale: "\e94c";
$icon-minsales: "\e94d";
$icon-minqueuing: "\e94e";
$icon-minbook: "\e94f";
$icon-minboxrice: "\e950";
$icon-minstop: "\e951";
$icon-mininfo: "\e952";
$icon-mintelep: "\e953";
$icon-minaddre: "\e954";
$icon-minnav: "\e955";
$icon-minchat: "\e956";
$icon-else: "\e957";
$icon-minforum: "\e958";
$icon-index: "\e959";
$icon-indexed: "\e95a";
$icon-sort: "\e95b";
$icon-sorted: "\e95c";
$icon-find: "\e95d";
$icon-finded: "\e95e";
$icon-carted: "\e95f";
$icon-user: "\e960";
$icon-usered: "\e961";
$icon-back: "\e962";
$icon-cart: "\e963";

